.main{
  display: grid;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
  background-color: beige;
  border: 3px dotted red;
}

.div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1{
  text-align: center;
  font-size: 1.6rem;
}