.container{
  width: 600px;
  min-height: 100%;
  border: 3px solid rosybrown;
}
.btn_container{
  padding: 3px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 75px;
  border: 1px solid red;
  column-gap: 10px;
}

.text_input{
  height: 25px;
  font-size: 1.2rem ;
}

.add_btn{
  font-size: 1rem;
  height: 25px;
}
